[submodule "environments/production/modules/profile/manifests/services/.vim/bundle/puppet"]
	path = environments/production/modules/profile/manifests/services/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
